<div>
<%= link_to "Create New User", new_admin_path, class: "btn btn-success" %>
</div>

<div class="table-responsive">
  <table id="usersTable" class="table table-striped table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Outfit</th>
        <th scope="col">Minor Unit</th>
        <th scope="col">Major Unit</th>
        <th scope="col" class="text-center align-middle">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.unit.name %></td>
          <td><%= user.unit.parent.name %></td>
          <td><%= user.unit.parent.parent.name %></td>
          <td class="text-center align-middle">
            <%= link_to admin_path(id: user.id) do %>
              <%= content_tag(:i, '', class: "fa fa-eye") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>

<div>

</div>