<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      User Details
    </div>
    <div class="card-body">
      <p class="card-text"><strong>First Name:</strong> <%= @user.first_name %></p>
      <p class="card-text"><strong>Last Name:</strong> <%= @user.last_name %></p>
      <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
      <p class="card-text"><strong>Unit:</strong> <%= @user.unit_name %></p>
      <p class="card-text"><strong>Minor Unit:</strong> <%= @user.minor %></p>
      <p class="card-text"><strong>Major Unit:</strong> <%= @user.major %></p>

    <div class="card-footer">
      <%= link_to "Edit", edit_admin_path(id: @user.id), class: "btn btn-primary" %>
      <%= button_to "Delete", admin_path(id: @user.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", form_class: "d-inline" %>
      <%= link_to "Back", admin_index_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
