<%= form_with(model: training_activity, local: false, "data-turbo": "true", html: {class: "", id: "training_activity_form"}) do |form| %>
  <% if training_activity.errors.any? %>
    <div class="alert alert-danger" role="alert" id="error_explanation">
      <h4 class="alert-heading"><%= pluralize(training_activity.errors.count, "error") %> prohibited this training activity from being saved:</h4>
      <ul>
        <% custom_error_messages_for(training_activity).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row mb-3">
    <div class="col">
      <%= form.label :name, "Activity Name", class: "form-label" %>
      <div data-mdb-input-init class="form-outline">
        <%= form.text_field :name, required: true, class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <%= form.label :date, "Activity Date", class: "form-label" %>
      <div data-mdb-input-init class="form-outline">
        <%= form.date_field :date, required: true, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <%= form.label :time, "Activity Time (Morning or Afternoon)", class: "form-label d-block" %>
      <div class="form-check form-check-inline">
        <%= form.radio_button :time, "MA", id: :time_ma, class: "form-check-input", required: true %>
        <%= form.label :time_ma, "MA", class: "form-check-label" %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :time, "AA", id: :time_aa, class: "form-check-input", required: true %>
        <%= form.label :time_aa, "AA", class: "form-check-label" %>
      </div>
    </div>
    <div class="form-outline col">
      <%= form.label :location, "Activity Location", class: "form-label" %>
      <div data-mdb-input-init class="form-outline">
        <%= form.text_field :location, required: true, class: "form-control" %>
      </div>
    </div>
  </div>
  <%= form.label :priority, "CMDT Priority", class: "form-label" %>
  <div class="select-outline">
    <%= form.select :priority, 
        [
          "Leaders of Character", 
          "Resilency Training", 
          "Military Training", 
          "Career Readiness", 
          "Physical Fitness"
        ],
        {prompt: "Choose something..."},
        {required: true, class: "select form-control", data: {mdb_select_init: true}} %>
  </div>
  <%= form.label :unit_id, "Unit", class: "form-label" %>
  <div class="select-outline">
    <%= form.select :unit_id, 
        Unit.outfit_units.map{ |unit| [unit.name, unit.id]},
        {prompt: "Choose something..."},
        {required: true, class: "select form-control", data: {mdb_select_init: true}} %>
  </div>
  <div class="mb-4">
    <label for="cr_competencies" class="form-label">CR Competencies (Max 3)</label>
    <div id="cr_competencies" class="row">
      <% Competency.all.each_slice(4) do |competency_slice| %>
        <div class="col-md-4">
          <% competency_slice.each do |competency| %>
            <div class="form-check">
              <%= check_box_tag "training_activity[competency_ids][]", 
                competency.id, 
                training_activity&.competency_ids&.include?(competency.id), 
                id: "training_activity_competencies_#{competency.id}", 
                class: "form-check-input" %>
              <%= label_tag "training_activity_competencies_#{competency.id}", 
                competency.name, 
                class: "form-check-label" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= form.label :justification, "Justification", class: "form-label" %>
  <div class="form-outline mb-4">
    <%= form.text_area :justification, class: "form-control", rows: 4 %>
  </div>
  <div class="mb-4">
    <%= form.label :opord_upload, "OPORD Upload", class: "form-label" %>
    <%= form.file_field :opord_upload, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
