<div class="table-responsive">
  <table id="trainingActivitiesTable" class="table table-striped table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col" class="text-center align-middle">Time</th>
        <th scope="col">Location</th>
        <th scope="col">Priority</th>
        <th scope="col">Competencies</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center align-middle">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @training_activities.each do |training_activity| %>
        <tr>
          <td><%= training_activity.name %></td>
          <td><%= training_activity.date %></td>
          <td class="text-center align-middle"><%= training_activity.time %></td>
          <td><%= training_activity.location %></td>
          <td><%= training_activity.priority %></td>
          <td>
            <% if training_activity.competencies.any? %>
              <ul class="list-unstyled">
                <% training_activity.competencies.each do |competency| %>
                  <li><%= competency.name %></li>
                <% end %>
              </ul>
            <% else %>
              None
            <% end %>
          </td>
          <td><%= training_activity.aasm.human_state %></td>
          <td class="text-center align-middle">
            <%= link_to training_activity do %>
              <%= content_tag(:i, '', class: "fa fa-eye") %>
            <% end %>
          </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to "+", "#", class: "btn btn-success", "data-mdb-toggle" => "modal", "data-mdb-target" => "#addTrainingActivityModal", id: "addTrainingActivityButton", data: { turbo: false } %>
<!-- Modal for Adding Training Activity -->
<div class="modal fade" id="addTrainingActivityModal" tabindex="-1" aria-labelledby="addTrainingActivityModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTrainingActivityModalLabel">Add Training Activity</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", training_activity: TrainingActivity.new %>
      </div>
    </div>
  </div>
</div>