<!DOCTYPE html>
<html>
  <head>
    <title>CadetActivityManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="/vendor/mdb5-free-standard/js/mdb.umd.min.js" defer></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% unless controller_name == 'home' && action_name == 'index' %>
      <header>
        <nav id="sidebarMenu" class="collapse sidebar bg-white">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3" style="margin-top: 4rem;">
              <a href="#" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init aria-current="true">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
              </a>
            </div>
          </div>
        </nav>
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="<%= current_user ? user_path(current_user) : home_path %>">
              <%= image_tag('tamu-logo.png', height: '25', alt: 'App Logo', loading: 'lazy') %>
            </a>
            <ul class="navbar-nav ms-auto d-flex flex-row">
              <li class="nav-item dropdown">
                <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
              role="button" data-mdb-dropdown-init aria-expanded="false">
                  <i class="fas fa-bell"></i>
                  <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Some news</a></li>
                  <li><a class="dropdown-item" href="#">Another news</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-dropdown-init aria-expanded="false">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                alt="" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">My Profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <%= link_to logout_path, class: "dropdown-item" do %>
                    <i class="fas fa-sign-out-alt"></i> Logout
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    <% end %>
    <% navbar_height = controller_name == 'home' && action_name == 'index' ? '0px' : '60px' %>
    <main style="margin-top: <%= navbar_height %>;">
      <%= render partial: "shared/display_flash" unless flash.empty? %>
      <%= yield %>
    </main>
  </body>
</html>
